$navbar-complete-bg: #449d44;
$breakpoint-tablet-min: 768px;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ul,
ol {
  &.unstyled {
    padding-left: 20px;
  }
}

p {
  text-align: justify;
}

/* Layout */
#logo {
  margin: 10px 0;
}

#main-navigation {
  overflow: hidden;

  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-nav {
    > li {

      > a {
        cursor: default;
      }

      &.complete {
        @media (min-width: $breakpoint-tablet-min) {
          position: relative;

          &:after {
            border-bottom: 25px solid transparent;
            border-top: 25px solid transparent;
            border-left: 10px solid $navbar-complete-bg;
            content: "";
            height: 0;
            position: absolute;
            right: -10px;
            top: 0;
            width: 0;
            z-index: 1;
          }
        }

        > a,
        > a:focus,
        > a:hover {
          background-color: $navbar-complete-bg;
          color: #fff;
        }
      }

      @media (min-width: $breakpoint-tablet-min) {
        &.complete ~ .active {
          a {
            padding-left: 25px;
          }
        }
      }
    }

    @media (min-width: $breakpoint-tablet-min) {
      margin-left: -15px;
    }
  }

  img {
    height: 40px;
  }
}

#footer {
  margin-bottom: 10px;
  line-height: 30px;
}
